:root{
	--main-color: #1D1D1D;
	--nun-color: #121212;
	--accent-color: #1e9600;
	--hover-color: #0f9b0f;
	--black: #000000;
	--aliceblue: aliceblue;
	--white: #ffffff;
    --poppins: 'Poppins', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --chilanka: 'Chilanka' cursive;
    --zen: 'Zen Tokyo Zoo', cursive;
    --fredoka: 'Fredoka One', cursive;
    --otomanpee: 'Otomanopee One', sans-serif;
    --lobster: 'Lobster', cursive;
    --jomhuria: 'Jomhuria', cursive;
    --bree: 'Bree Serif', serif;
    --acme: 'Acme', sans-serif;
    --signika: 'Signika', sans-serif;
    --signika-negative: 'Signika Negative', sans-serif;
    --jost: 'Jost', sans-serif;
    --prata: 'Prata', serif;
    --righteous: 'Righteous', cursive;
    --itim: 'Itim', cursive;
    --guy: 'Luckiest Guy', cursive;
    --poiret: 'Poiret One', cursive;
    --ramabhadra: 'Ramabhadra', sans-serif;
    --alegreya: 'Alegreya Sans SC', sans-serif;
    --arima: 'Arima Madurai', cursive;
    --chewy: 'Chewy', cursive;
    --mada: 'Mada', sans-serif;
	--btn-default-box-shadow: 1px 2px 4px #583d8a;
	--btn-default-padding: 11px 45px 10px 45px;
}

body{
	background-color: var(--main-color);
}
.breadcrumb-item+.breadcrumb-item::before{
	content: "";
	padding: 0px;
	margin: 0px;
	display: block;
}

#content_col{
	padding-top: 15px;
}
#rightbar_col{
	padding-top: 15px;
}
#sidebar__col{
	padding-top: 15px;
}


/* Post Adding Section Styles */
.success_card{
	border: none;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 8px;
	margin-top: 5px;
	background-color: var(--aliceblue);
}
.success_card p{
	margin-bottom: 0px;
	font-family: var(--otomanpee);
	font-size: 23px;
}
.wave_card{
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
}
.add__postcard{
	border-radius: 6px;
	background-color: var(--nun-color);
}
.shake__card{
	animation: shake-animation 1.5s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
.add__postcard .card-header{
	padding: 20px;
	padding-bottom: 5px;
	border: none;
}
.add__postcard .card-header hr{
	background-color: var(--main-color);
	filter: brightness(120%);
	margin-top: 5px;
}
.add__postcard .card-header span{
	font-family: var(--alegreya);
	font-size: 21px;
	font-weight: bold;
	color: var(--aliceblue);
	word-spacing: 5px;
}

.add__postcard .card-body{
	padding: 20px;
	padding-top: 0px;
	border: none;
}
.add__postcard .card-body .content{
}
.add__postcard .card-body .content form div.first{
	display: flex;
	width: 100%;
	border: none;
}
#profileDisplayImgLink{
	display: table;
}
#profileDisplayImg{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	cursor: pointer;
	margin-right: 10px;
	transition: 0.4s all ease-in-out;
}
#profileDisplayImg:hover{
	filter: brightness(50%);
}

#add_postform_group{
	width: 100%;
	padding-top: 2px;
}
#add_postform_group span{
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
	width: 100%;
	display: block;
	min-height: 70px;
	font-family: var(--arima);
	font-size: 18px;
	border-radius: 6px;
	border: 2px solid var(--main-color);
	outline: none;
	box-shadow: none;
	background-color: var(--main-color);
	color: var(--aliceblue);
	transition: 0.4s all ease-in-out;
	filter: brightness(80%);
	cursor: text;
}
#add_postform_group span:hover{
	filter: brightness(75%);
}
#add__postfilediv{
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
#add__postfilediv label.label_button{
	border: none;
	color: var(--aliceblue);
	padding: 10px;
	padding-left: 9px;
	padding-top: 0px;
	padding-bottom: 4px;
	font-size: 20px;
	font-family: var(--otomanpee);
	cursor: pointer;
	border-radius: 7px;
	background: #0f9b0f;
	background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
	background: linear-gradient(to right, #0f9b0f, #000000);
	margin-right: 20px;
}
#add__postfilediv label.label_button:hover{
	background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);
	background: linear-gradient(to bottom, #0f9b0f, #000000);
}


[data-placeholder]:empty::before{
	content: attr(data-placeholder);
	color: var(--aliceblue);
}
[data-placeholder]:empty:focus::before{
	content: "";
	color: var(--aliceblue);
}

button#add__post_btn{
	font-size: 15px;
	padding-top: 13px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 12.3px;
	float: right;
	border-radius: 10px;
	transition: 0.6s all ease-in-out !important;
	border: none!important; 
	outline: none!important;
	text-decoration: none !important;
	font-weight: 400!important;
	box-shadow: none;
	color: var(--aliceblue);
	text-align: center;
	font-family: var(--alegreya);
	background: #0f9b0f;
	background: -webkit-linear-gradient(to left, #0f9b0f, #000000);
	background: linear-gradient(to left, #0f9b0f, #000000);
}
button#add__post_btn:hover{
	background: #0f9b0f;
	background: -webkit-linear-gradient(to top, #0f9b0f, #000000);
	background: linear-gradient(to top, #0f9b0f, #000000);
}
button#add__post_btn svg{
	-webkit-animation: spin-animation 0.4s infinite linear;
	animation: spin-animation 0.4s infinite linear;
}
button#add__post_btn:focus{
	outline: none;
}
button#add__post_btn:disabled{
	background: rgba(47, 128, 237, 0.47);
	cursor: not-allowed;
	box-shadow: none;
}


/* File Preview Styles */
.prev_image_div{
	display: flex!important;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	border: 1px solid var(--main-color);
	padding: 10px;
	padding-bottom: 7px;
	padding-top: 3px;
	margin-top: -10px;
	margin-bottom: 10px;
	border-radius: 6px;
}
.prev_image_div .column{
	border: none;
	padding: 0px;
	margin-right: 10px;
}
.prev_image_div .column img{
	border-radius: 6px;
	object-fit: cover;
	object-position: center;
	width: 100%!important;
	height: 120px;
	z-index: 100!important;
}
.prev_image_div .column i{
	border: 3px solid var(--nun-color);
	display: table;
	margin-left: 0px;
	margin-top: 0px;
	padding: 5.5px;
	padding-left: 6.5px;
	padding-top: 0px;
	padding-bottom: 2.1px;
	margin-bottom: -15px;
	color: var(--aliceblue);
	cursor: pointer;
	border-radius: 50%;
	background: -webkit-linear-gradient(to left, #0f9b0f, #000000);
	background: linear-gradient(to left, #0f9b0f, #000000);
	filter: brightness(90%);
}
.preview_modal_overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.preview_modal{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 20px;
	width: 370px;
	height: auto;
}
.preview_modal_img{
	height: 450px;
	width: 100%;
	object-fit: cover;
	object-position: top center;
}

/* Follow Button*/
.follow_button{
	border: none;
	display: table;
	font-family: var(--acme);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(to left, #0f9b0f, #000000);
	background: linear-gradient(to left, #0f9b0f, #000000);
	color: var(--aliceblue);
}
.follow_button:hover{
	background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
	background: linear-gradient(to right, #0f9b0f, #000000);
}


/* Animations Section Styles */
@-webkit-keyframes spin-animation {
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	0% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes spin-animation {
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	0% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@keyframes shake-animation{
	10%, 90%{
		transform: translate3d(-2px, 0, 0);
	}

	20%, 80%{
		transform: translate3d(3px, 0, 0);
	}

	30%, 50%, 70%{
		transform: translate3d(-5px, 0, 0);
	}

	40%, 60%{
		transform: translate3d(5px, 0, 0);
	}
}

/* Alert Styles Section */
.alert{
	color: var(--aliceblue);
	border-radius: 10px;
}
.alert i{
	float: right;
	font-size: 21px;
	cursor: pointer;
	padding-top: 2.4px;
	display: flex;
}
.alert.danger_alert{
	border: none;
	background: #0f9b0f;
	background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
	background: linear-gradient(to right, #0f9b0f, #000000);
	font-family: var(--josefin);
}

#loading__div{
    border: none;
}
#loading__div p{
	color: var(--white);
	margin: 0px!important;
	font-size: 30px;
	display: block;
	padding: 10px;
	width: 100%;
	text-align: center;
}
#loading__div p svg{
    -webkit-animation: spin-animation 0.6s infinite linear;
    animation: spin-animation 0.6s infinite linear;
}

#notfound__div{
    border: none;
}
#notfound__div p{
	margin: 0px!important;
	display: block;
	padding: 10px;
	width: 100%;
	text-align: center;
}

.overlay.logout_modaloverlay{
	background-color: rgba(0, 0, 0, 0.5);
}
.logout_modal{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -60%);
	border: 2px solid var(--main-color);
	background: var(--nun-color);
	overflow: hidden;
	border-radius: 10px;
	outline: none;
	padding: 0px;
	width: 27%;
	height: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.logout_modal div.body{
	padding: 20px;
	border-radius: 10px;
}

.logout_modal div.body p:nth-child(1){
	border: none;
	background-color: var(--main-color);
	display: block;
	color: var(--white);
	border-radius: 6px;
	font-family: var(--alegreya);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.logout_modal div.body div.first button{
	font-size: 15px;
	padding-top: 10px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 5px;
	border-radius: 8px;
	transition: 0.3s all ease-in-out !important;
	border: none!important; 
	outline: none!important;
	box-shadow: none;
	color: var(--aliceblue);
	text-align: center;
	font-family: var(--arima);
	background: blue;
}
.logout_modal div.body div.first button:last-child{
	margin-left: auto;
	background: red;
}
.logout_modal div.body div.first button:hover{
	filter: brightness(60%);
}